/** {*/
/*    background: black !important;*/
/*    color: #0f0 !important;*/
/*    outline: solid #f00 1px !important;*/
/*}*/


/*font-family: "Merriweather", "Raleway", "Open sans", serif;*/
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", "Montserrat", "Open sans", sans-serif;
    height: 100%;
    background: black;
    }

body.no-scroll {
    overflow: hidden;
}

main{
    background: white;
    padding-bottom: 1rem;
}

.navbar-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
    min-height: 60px;
    background: transparent;
    box-sizing: border-box;
    z-index: 10;
    transition: background 0.4s ease, color 0.4s ease;
}

.navbar-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-leftside,
.navbar-rightside {
    display: flex;
    gap: 1rem;
    flex: 1;
}

.navbar-leftside {
    justify-content: flex-start;
}

.navbar-rightside {
    justify-content: flex-end;
}

.navbar-logo {
    position: relative;
    transform: none;
}
.navbar-logo a {
    font-size: 2rem;
    font-weight: normal;
    text-decoration: none;
    color: white;
    font-family: "Jost", sans-serif;
    letter-spacing: 2px;
    transition: color 0.4s ease;
}

.navbar-top a:not(.bag-menu *),
.navbar-top button{
    color: white;
    --cart-text-color: black;
    transition: color 0.4s ease;
}

.bag-title{
    fill: black;
    transition: fill 0.4s ease;
}

.navbar-top.scrolled {
    background: white;
}

.navbar-top.scrolled a:not(.bag-menu *),
.navbar-top.scrolled button{
    color: black;
}

.navbar-top.scrolled .bag-title{
    fill: white;
}


.sidebar-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.0);
    z-index: 998;
    display: none;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

.sidebar-overlay.active {
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
    pointer-events: auto;
}

.sidebar-overlay.active {
    display: block;
}

.sidebar-menu a{
    text-decoration: none;
    border-bottom: black solid 1px;
    color: black;
}
.sidebar-menu {
    position: fixed;
    width: 220px;
    height: 100vh;
    overflow-y: auto;
    background: white;
    padding: 1rem;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 999;
}

.sidebar-menu.active {
    transform: translateX(0);
}
.sidebar-menu.active i {
    color: black;
}

.menu-toggle-container {
    height: 76px;
    gap: 1rem;
    display: flex;
    align-items: center;
    padding-left: 2.1rem;
}


button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 1rem;
}

/* FOOTER */
.site-footer {
    background-color: black;
    font-family: "Helvetica Neue","Helvetica", "Montserrat", "Open sans", sans-serif;
    color: white;
    padding: 3rem 2rem;
    font-size: 0.9rem;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
}

.footer-column h4 {
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 1rem;
    letter-spacing: 1px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 0.5rem;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #ccc;
}

.footer-logo a{
    font-size: 10rem;
    font-weight: normal;
    text-decoration: none;
    color: white;
    font-family: "Jost", sans-serif;
    letter-spacing: 2px;
    transition: color 0.4s ease;
}
/* =============================B*/
/* Bag                */
/* ============================= */
.bag-icon {
    width: 1.4rem;
    height: 1.4rem;
    vertical-align: -0.125em;
}
.bag-dropdown {
    position: relative;
    display: inline-block;
}
.bag-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: white;
    border: 1px solid #ddd;
    width: 500px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    z-index: 1000;
}

.remove-btn i {
    text-decoration: none;
    color: black;
}

.bag-menu ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
}
.bag-menu .empty {
    text-align: center;
    color: #666;
}
.bag-footer {
    border-top: 1px solid #ddd;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    text-align: center;
}

.btn-bag{
    border: 1px solid black;
    padding: 1rem;
    font-size: 0.9rem;
    text-decoration: none;
}

.btn-bag.view {
    color: white;
    background: black;
    transition: background 1s ease, transform 0.4s ease;
}

.btn-bag.view:hover {
    background: #1b263b;
    transform: scale(0.95);
    transition: background 0.4s ease, transform 0.4s ease;
}

.btn-bag.checkout {
    color: black;
    transition: transform 0.4s ease;
}

.btn-bag.checkout:hover {
    transform: scale(0.95);
    transition: transform 0.4s ease;
}

.bag-thumb {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
}
.bag-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.bag-details {
    display: flex;
    font-family: "Helvetica Neue","Helvetica", "Montserrat", "Open sans", sans-serif;
    gap: 1rem;
    flex-direction: column;
}

.bag-name{
    font-size: 1.2rem;
}

.bag-price {
    font-weight: lighter;
}

.bag-qty{
    font-weight: lighter;
    font-size: 0.8rem;
}

/* ============================= */
/* Search Overlay                */
/* ============================= */

.navbar-search {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 60px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    padding: 1.45rem 0;
    z-index: 1000;
}
.navbar-search i {
    transform: translateX(3.3rem);
    color: black;
    transition: transform 0.4s ease;
}
#navbarSearchInput {
    width: 100%;
}

.navbar-search.active {
    width: 100%;
}
.navbar-search.active i {
    transform: translateX(0);
}

.navbar-search input {
    flex: 1;
    padding: 0 0 0 1rem;
    font-size: 1rem;
    border: none;
    outline: none;
}

.navbar-search input::placeholder {
    color: #aaa;
}

#navbarSearchForm {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
}

.search-suggestions {
    position: fixed;
    top: 70px;
    width: 100%;
    color: black;
    background: white;
    font-size: 0.9rem;
    max-height: 200px;
    overflow-y: auto;
    
} 

.search-suggestions div {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

@media (max-width: 800px) {
    .footer-logo a{
        font-size: 5rem;
    }
}
